@tailwind base;
@tailwind components;
@tailwind utilities;



html{
  scroll-behavior: smooth;
}

body {
  color: #213547;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1144px;
  margin: 0 auto;
}

.fill {
  object-fit: fill;
}

.contain {
  object-fit: contain;
}

.cover {
  object-fit: cover;
}

.active-link {
  /* background-color: brown; */
  background-color: rgb(148 163 184 / 0.2);
}