@tailwind base;
@tailwind components;
@tailwind utilities;



html{
  scroll-behavior: smooth;
}

body {
  color: #213547;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.fill {
  object-fit: fill;
}

.contain {
  object-fit: contain;
}

.cover {
  object-fit: cover;
}

.active-link {
  /* background-color: brown; */
  background-color: rgb(148 163 184 / 0.2);
}

/* ==== ==== ==== CUSTOM SCROLL ==== ==== ==== */

.custom-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
}

.custom-scroll::-webkit-scrollbar:vertical {
  width:8px;
}

.custom-scroll::-webkit-scrollbar-button:increment,.custom-scroll::-webkit-scrollbar-button {
  display: none;
} 

.custom-scroll::-webkit-scrollbar:horizontal {
  height: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #cfcece;
  border-radius: 20px;
  border: 2px solid #f3f3f3;
}

.custom-scroll::-webkit-scrollbar-track {
  border-radius: 8px;  
}
